@media(max-width: 826px){
  // NAV BAR
  .Navbar{
    .navBody{
      .nav-logo{
        img{
          height: 50px;
        }
      }
      .nav__toggler{
        display: block;
        z-index: 9;
      }

      .toggle{
        .line1{
          transform: rotate(-45deg) translate(-9px, 5px);
        }
        .line2{
          opacity: 0;
        }
        .line3{
          transform: rotate(45deg) translate(-8px, -5px);
        }
      }

      .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        margin-top: 0;
        transition: 0.5s ease-in;
        
        .NavBtnList {
          display: inline-block;
        }

        
      }

      .nav__active{
        transform: translateX(0);
      }
    }
  }
  .NavBtn {
    display: none !important;
  }

  // HERO

  .heroSection {
    padding-top: 150px;
    .heroContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      h2 {
        font-size: 15px;
        line-height: 20px; 
        letter-spacing: 0.18px;
        margin-bottom: 10px;
      }
  
      h3 {
        font-size: 44px;
        font-weight: 600;
        line-height: 52px; 
        letter-spacing: -2.64px;
        margin-bottom: 20px;
      }
  
      a {
        padding: 10px 14px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.18px;
        width: 212px;
        height: 46px;
  
        &::after {
          content: '';
          display: inline-block;
          background: url(img/heroBtnIcon.svg);background-repeat: no-repeat; background-size: cover; background-position: center;
          width: 32px;
          height: 32px;
        }
  
        &:hover {
          color: #ffffffd8;
        }
      }
    }
  }

  // PROVIDE 

  .provideSection {
    padding: 50px 0;
    .provideTitle {
      font-size: 44px;
      font-weight: 600;
      letter-spacing: -1.8px;
      margin-bottom: 50px;
      text-align: center;
    }
  
    .provideContent {
      margin: 0 auto;
      justify-content: center;  
      .provideInfo {
        width: auto;
        padding: 20px;
        cursor: pointer;
        
        img {
          width: 48px;
          height: 48px;
          margin-bottom: 10px;
        }
  
        h2 {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px; 
          letter-spacing: -0.48px;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 0.18px;
          margin-bottom: 20px;
          width: 360px;
        }
  
        a {
          color: #F26440;
          font-size: 14px;
          font-weight: 600;
          line-height: 27px; 
          letter-spacing: 0.14px;
          display: flex;
          align-items: center;
  
          &::after {
            content: '';
            display: inline-block;
            background: url(img/ProvideArrowRight.svg); background-size: cover;background-position: center; background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  // LAST PROJECTS START 

  .lastProductSection {
    background: #0F3141;
    padding: 50px 0;

    .lastProductContent {
      h2 {
        font-size: 44px;
        letter-spacing: -1.2px;
        margin-bottom: 50px;
      }

      .lastProductSlider {
        .lastProductInfo {
          img {
            width: 50%;
            height: auto;
            border-radius: 30px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 6px;
            line-height: 24px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  // NEW COMER START

.newComerSection {
  background: url(img/newComerBgImg.png);background-repeat: no-repeat; background-size: cover;background-position: right;
  width: 100%;
  height: 100vh;
  padding: 150px 0;

  .newComerContent {
    h2 {
      color: #F17252;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.4px;
      text-transform: capitalize;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 44px;
      font-weight: 600;
      letter-spacing: -1.2px;
      margin-bottom: 9px;
    }

    p {
      width: auto;
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.16px;
      text-transform: capitalize;
      margin-bottom: 29px;
    }

    span {
      font-size: 16px;
      letter-spacing: 0.16px;
      margin-bottom: 16px;
      display: block;
    }

    input {
      margin-right: 13px;
      overflow: hidden;
      background: #A00531;
      width: 24px;
      height: 24px;
    }

    a {
      width: 168px;
      height: 56px;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 4px;
      background: linear-gradient(127deg, #F26440 0%, #EF7D60 100%);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.20px;

      &::after {
        content: '';
        display: inline-block;
        background: url(img/newcomericon.svg); background-repeat: no-repeat;background-size: cover;background-position: center;
        width: 24px;
        height: 24px;
      }
    }

  }
}

}


@media (max-width: 450px) {
  // HERO

  .heroSection {
    padding-top: 150px;
    .heroContent {
      h2 {
        font-size: 14px;
        line-height: 20px; 
        letter-spacing: 0.14px;
        margin-bottom: 8px;
        text-align: center;
      }
  
      h3 {
        width: auto;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        line-height: 42px; 
        letter-spacing: -1.32px;
        margin-bottom: 24px;
      }
  
      a {
        padding: 10px 14px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.18px;
        width: 212px;
        height: 46px;
  
        &::after {
          content: '';
          display: inline-block;
          background: url(img/heroBtnIcon.svg);background-repeat: no-repeat; background-size: cover; background-position: center;
          width: 32px;
          height: 32px;
        }
  
        &:hover {
          color: #ffffffd8;
        }
      }
    }
  }

  // PROVIDE 

  .provideSection {
    padding: 30px 0;
    .provideTitle {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -1.2px;
      margin-bottom: 36px;
    }
  
    .provideContent {
      .provideInfo {
        width: auto;
        padding: 20px;
        
        h2 {
          font-size: 24px;
          width: auto;
          font-weight: 600;
          line-height: 34px; 
          letter-spacing: -0.48px;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px; 
          letter-spacing: 0.16px;
          width: auto;
        }
  
        a {
          color: #F26440;
          font-size: 14px;
          font-weight: 600;
          line-height: 27px; 
          letter-spacing: 0.14px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

    // NEW COMER START

  .newComerSection {
    background: url(img/newComerBgImg.png);background-repeat: no-repeat; background-size: cover;background-position: center;
    width: 100%;
    height: 100vh;
    padding: 100px 0;

    .newComerContent {
      h2 {
        color: #F17252;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.4px;
        text-transform: capitalize;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 44px;
        font-weight: 600;
        letter-spacing: -1.2px;
        margin-bottom: 9px;
      }

      p {
        width: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.16px;
        text-transform: capitalize;
        margin-bottom: 29px;
      }

      span {
        font-size: 16px;
        letter-spacing: 0.16px;
        margin-bottom: 16px;
        display: block;
      }

      input {
        margin-right: 13px;
        overflow: hidden;
        background: #A00531;
        width: 24px;
        height: 24px;
      }

      a {
        width: 168px;
        height: 56px;
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 4px;
        background: linear-gradient(127deg, #F26440 0%, #EF7D60 100%);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.20px;

        &::after {
          content: '';
          display: inline-block;
          background: url(img/newcomericon.svg); background-repeat: no-repeat;background-size: cover;background-position: center;
          width: 24px;
          height: 24px;
        }
      }

    }
  }


}

@media (max-width: 525px) {
  // Products

  .productSection {
    padding: 30px 0;
  
    .productContent {
      h2  {
        font-size: 34px;
        letter-spacing: -1.2px;
        margin-bottom: 30px;
        line-height: 52px;
        text-align: center;
      }
  
      .productInfo {
        margin: 0 auto;
        text-align: center;
        .imgContent {
          width: 240px;
          height: 240px;
          border-radius: 8px;
          background: #F8F4F2;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 8px;
  
          img {
            transform: scale(1);
            transition: all .5s ease-in-out;
            text-align: center;
            padding: 32px;
            cursor: pointer;
  
            &:hover {
              transform: scale(1.1);
            }
          }
  
          .productSlider {
            display: flex;
            align-items: center;
          }
        }
  
        .productType {
          color: #0F3141;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.14px;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
  
        h3 {
          color:#0F3141;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px; 
          letter-spacing: 0.2px;
          margin-bottom: 8px;
        }
  
        .productSize {
          color: var(--neutral-black, #0F3141);
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.12px;
          margin-bottom: 8px;
          display: block;
        }
  
        .productPrice {
          color: #F07454;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px; 
          letter-spacing: 0.18px;
          text-transform: capitalize;
        }
      }
      
    }
  }

   // LAST PROJECTS START 

   .lastProductSection {
    background: #0F3141;
    padding: 30px 0;

    .lastProductContent {
      h2 {
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
      }

      .lastProductSlider {
        .lastProductInfo {
          img {
            width: 50%;
            height: auto;
          }

          h3 {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 6px;
            line-height: 24px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  
}

@media (max-width: 1115px) {
  // OUR CLIENT START

  .ourClientSection {
    padding: 160px 0;

    .ourClientContent {
      h2 {
        color: #000;
        font-size: 60px;
        font-weight: 600;
        letter-spacing: -1.8px;
        margin-bottom: 67px;
      }

      .ourClientSlider {
        .ourClientInfo {
          cursor: pointer;
          &:hover {
            span {
              color: #F26440;
              opacity: 1;
              transition: all ease-in .3s;
            }
          }
          width: auto !important;
          height: 493px;
          border-radius: 16px;
          padding: 48px 62px 48px 48px;
          margin-right: 50px;

          img {
            width: 286px;
            height: 397px;
            border-radius: 16px;
            margin-right: 47px;
          }

          .quoteIcon {
            width: 32px;
            height: 32px;
            object-fit: cover;
            color: #F26440;
            margin-bottom: 16px;
          }

          h3 {
            color: #0F3141;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px; 
            letter-spacing: -0.72px;
            width: auto;
            margin-bottom: 24px;
          }

          p {
            color: #78756E;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px; 
            margin-bottom: 35px;
            width: auto;
          }

          h4 {
            color: #565554;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px; 
            letter-spacing: -0.36px;
            opacity: 0.699999988079071;
          }

          span {
            color: #0F3141;
            font-size: 288px;
            font-weight: 700;
            letter-spacing: 2.88px;
            opacity: 0.10000000149011612;
            position: relative;
            top: -180px;
            left: 280px;
          }
        }
      }
    }
  }

}