@media(max-width: 768px){
  .navbar{
    position: relative;
    transition: 0.5s all ease-in-out;
    
  }

  .navbar.expanded{
    height: 100vh;
  }

  .navbar.expanded .navList{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
  }

  .navbar.expanded .navList .navLink{
    font-size: 24px;
    display: block;
  }

  .navbar .logo{
    position: absolute;
    top: 25px;
    left: 20px;
  }

  .navbar .toggle-icon{
    display: block;
    color: #D9D2C3;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .navbar .navList{
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .navbar .navList .navLink{
    margin: 60px 0;
    font-size: 24px;
  }

  .navList .NavBtnList {
    display: inline-block;
  }

  .navbar .NavBtn {
    display: none;
  }

 
}